html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Airbnb Cereal App Bold';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Airbnb Cereal';
  src: url('../fonts/AirbnbCerealMedium.ttf');
  src: url('../fonts/AirbnbCerealBold.ttf');
  src: url('../fonts/AirbnbCerealBook.ttf');
  src: url('../fonts/AirbnbCerealExtraBold.ttf');
  src: url('../fonts/AirbnbCerealLight.ttf');
  src: url('../fonts/AirbnbCerealBlack.ttf');
  font-weight: normal;
  font-style: normal;
}